# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Java
*.class
*.jar
*.war
*.ear
*.iml

# OS
.DS_Store
Thumbs.db
/tp6_colecciones/nbproject/private/
/tp7_herencia_polimorfismo/nbproject/private/
/tp8_interfaces_excepciones/nbproject/private/
